<h1>Buscando: <small>{{termino.toUpperCase()}}</small></h1>
<hr>

<div class="row animated fadeIn fast" *ngIf="heroes.length == 0">
    <div class="col-md-12">
        <div class="alert aletr alert-info" role="alert">
            No existen resultados para el termino: {{termino}}

        </div>

    </div>
</div>
<hr>
<div class='card-columns'>
    <!-- *ngFor=" let heroe of heroes; let i = index" -->
    <app-tarjeta [heroe]="heroe" [index]="heroe.idx" *ngFor="let heroe of heroes"></app-tarjeta>
</div>
